streamlit
pandas
torch==2.1.0
transformers==4.38.2
langdetect
googletrans==4.0.0-rc1
nltk
spacy==3.7.2
gender-guesser
# Proper installation of en_core_web_sm model for spaCy
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl

