torch
transformers
streamlit
pandas
re
langdetect
googletrans==4.0.0rc1
nltk
spacy
gender-guesser
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1.tar.gz
